$yellow						: #f6d014;
$light-blue					: #00bcd4;
$title-color				: #ccc;
$headings-color				: #ccc;

$white						: #ffffff;
$light-grey					: #f7f7f7;
$black						: #000;
$black-russian-grey			: #24252a;
$suva-grey					: #888888;
$scheme1            :#026670;
$scheme2          :#9fedd7;
$scheme3            :#fef9c7;
$scheme4          :#fce181;
$scheme5             :#edeae5;

$brand-primary				: $scheme1;
$text-color					: $black;

$popins-font				: 'Poppins', sans-serif;
$fontawesome				: 'FontAwesome';


$navbar-link-color			: $black-russian-grey;
$navbar-hover-color			: $brand-primary;
$navbar-hover-bg			: $brand-primary;
$navbar-active-color		: $brand-primary;
$navbar-active-bg			: transparent;

$hover-line-color			: $brand-primary;
$active-line-color			: $hover-line-color;


$dropdown-bg				: rgba(26, 28, 39, 0.8);
$dropdown-wrap-color		: $black;
$dropdown-link-color		: $white;

$dropdown-hover-color		: $white;
$dropdown-hover-bg			: $brand-primary;

$dropdown-active-color		: $brand-primary;
$dropdown-active-bg			: $brand-primary;
